@font-face{
	font-family: 'HankenGrotesk';
	src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'HankenGrotesk';
}
main{
   width: 375px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/* background-color: lightgray; */
}
p, span{
	font-size: 18px;
}
.display{
	text-align: center;	
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0 40px 0;
	border-radius: 0 0 30px 30px;
}
.display h1{
	color: hsl(241, 100%, 89%);
	font-size: 18px;
	margin: 0 0 20px;
}
.score-container{
	border-radius: 50%;
	background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: 20px 30px; */
	margin-bottom: 10px;
	width: 120px;
	height: 120px;
}
.score-container p{
	margin: 0;
}
.score{
	color: white;
	font-weight: 800;
	font-size: 36pt;
}
.category{
	color: white;
	margin-bottom: 7px;
}
.total, .comment{
	color: hsl(241, 100%, 89%);
	font-size: 14px;
	font-weight: 500;
}
.comment{
	margin: 0;
	max-width: 250px;
	line-height: 1.25;
}

.summary{
	padding: 10px 20px;
}
.summary-items{
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}
.summary-item{
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	font-weight: 800;
	padding: 5px 10px;
	border-radius: 10px;
}
.red{
	color: hsl(0, 100%, 67%);
	background-color: hsla(0, 100%, 67%, 0.1);
}
.yellow{
	color: hsl(39, 100%, 56%);
	background-color: hsla(39, 100%, 56%, 0.1);
}
.red{
	color: hsl(0, 100%, 67%);
	background-color: hsla(0, 100%, 67%, 0.1);
}
.green{
	color: hsl(0166, 100%, 37%);
	background-color: hsla(0166, 100%, 37%, 0.1);
}
.purple{
	color: hsl(234, 85%, 45%);
	background-color: hsla(234, 85%, 45%, 0.1);
}
.items-score{
	margin-left: auto;
	color: hsl(241, 100%, 89%);
}
.item-score{
	color: hsl(224, 30%, 27%);
}
.continue{
	display: block;
	margin: 20px auto;
	width: 100%;
	color: white;
	background-color: hsl(224, 30%, 27%);
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 16px;
	padding: 15px 0;
	border-radius: 40px;
	cursor: pointer;
}
.continue:hover{
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-bottom: 10px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
	body{
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	main{
		border-radius: 30px;
		width: 70%;
		flex-direction: row;
		box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	}
	.display, .summary{
		width: 50%;
	}
	.display{
		border-radius: 30px;
		margin: 0;
		padding: 0;
	}
	.score-container{
		width: 200px;
		height: 200px;
	}
	.score{
		font-size: 46pt;
	}
	.comment{
		font-size: 16px;
		max-width: 250px;
	}
	.attribution{
		margin-top: 15px;
	}
}